@{
    ViewBag.Title = "Contact Me!";
}
<h2 id="contactPageTitle">@ViewBag.Title</h2>

<p class="contactText">
    If you'd like to reach out, please visit my portfolio through this overside house icon!
    <br />
    <a href="https://jonathancarey13.github.io/Portfolio/"><i class="bi bi-house-fill" style="font-size: 200px"></i></a>
    <br />
    <br />
    At my portfolio, you can email me, view my other projects and look at a great picture of a duck!
</p>